<%- include('partials/header'); %>
  <header>
    <h1>ARTICULOS</h1>
  </header>
  <div class="list-container">
    <table class="button-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>KG</th>
          <th>Tipo</th>
          <th>Precio</th>
          <th>Precio suelto</th>
          <th>Stock</th>
          <th>Ultima Actualizacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < lista.length; i++) { %>
          <tr>
            <td>
              <span id="cliente-<%= i %>">
                <%= lista[i].name.toUpperCase() %>
              </span>
            </td>
            <td>
              <span id="cliente-<%= i %>">
                <%= lista[i].peso %>
              </span>
            </td>
            <td>
              <span id="cliente-<%= i %>">
                <%= lista[i].tipo %>
              </span>
              <span id="cliente-<%= i %>">
                <%= lista[i].tipoEdad %>
              </span>
              <span id="cliente-<%= i %>">
                <%= lista[i].tipoMordida %>
              </span>
            </td>
            <td>
              <span id="cliente-<%= i %>">
                <%= lista[i].price %>
              </span>
            </td>
            <td>
              <span id="cliente-<%= i %>">
                <%= lista[i].precioSuelto %>
              </span>
            </td>
            <td>
              <span id="cliente-<%= i %>">
                <%= lista[i].stock %>
              </span>
            </td>
            <td>
              <span id="cliente-<%= i %>">
                <%= lista[i].fechaActualizacion %>
              </span>
            </td>
            <td>
              <a class="edit-button" onclick="editClient(<%= i %>)">Editar</a>
              <a style="background-color: red;" class="edit-button" onclick="deleteClient(<%= i %>)">Eliminar</a>
            </td>
          </tr>
          <% } %>

  </div>
  <button style="background-color: rgb(29, 151, 29); margin: 5px;" class="button"
    onclick="location.href='/new-article'">Agregar articulo</button>
  <button style="background-color: rgba(184, 46, 46, 0.767); margin-top: 5px;" class="form-button"
    onclick="location.href='/'">
    Atras
  </button>

  <script>
    function editClient(index) {
      location.href = `edit-article-id/${index}`
    }

    function deleteClient(index) {
      location.href = `delete-article-id/${index}`
    }
  </script>
  <%- include('partials/footer'); %>