<%- include('partials/header'); %>
  <header>
    <h1>Clientes:</h1>
  </header>
  <div class="list-container">
    <table class="button-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Monto</th>
          <th>Editar o Eliminar</th>
        </tr>
      </thead>
      <tbody id="lista-total">
        <% for(let i=0; i < clients.length; i++) { %>
          <tr id="client-<%= i %>">
            <td>
              <span id="cliente-<%= i %>"><%= clients[i].name %></span>
            </td>
            <td>
              <span id="telefono-<%= i %>"><%= clients[i].telefono %></span>
            </td>
            <td>
              <span id="direccion-<%= i %>"><%= clients[i].direccion %></span>
            </td>
            <td>
              <span id="monto-<%= i %>"><%= clients[i].monto %></span>
            </td>
            <td>
              <a class="edit-button" onclick="editClient(<%= i %>)">Editar</a>
              <a style="background-color: red;" class="edit-button" onclick="deleteClient(<%= i %>)">Eliminar</a>
            </td>
          </tr>
        <% } %>

  </div>
  <button style="background-color: rgb(29, 151, 29);margin: 5px;" class="button" onclick="location.href='/new-clientes'">Agregar Cliente</button>
  <button style="background-color: rgba(184, 46, 46, 0.767); margin-top: 5px;" class="form-button" onclick="location.href='/'">
    Atras
  </button>
  <script>
  function editClient(index) {
    location.href=`editar-cliente-id/${index}`
  }

  function deleteClient(index) {
    location.href=`eliminar-cliente-id/${index}`
  }
  </script>
  <%- include('partials/footer'); %>