<%- include('partials/header'); %>
<header>
  <h1>ELIMINAR ARTICULO</h1>
</header>
<p style="display: none;" id="idProduct"><%= article.id %></p>
<div class="list-container">
  <h3>Estas seguro de eliminar <span><%= article.name %></span> de <span><%= article.tipo %></span> de <span><%= article.peso %></span> KG?</h3>
  <button style="background-color: rgba(184, 46, 46, 0.767); margin: 5px;" class="form-button" class="edit-button" id="sendButton">ELIMINAR</button>
  <button style="background-color: green; margin-top: 5px;" class="form-button" onclick="location.href='/caja-diaria'">ATRAS</button>
</div>
<script>
    const sendButton = document.getElementById("sendButton")
    sendButton.addEventListener("click", (event) => {
      event.preventDefault()
      const idProduct = document.getElementById("idProduct")
      console.log(idProduct.innerHTML)
      const sendInfo =  {id: idProduct.innerHTML}
      fetch("/delete-article-id", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(sendInfo),
      })
        .then((response) => {
          response.json();
        })
        .then((data) => {
          console.log("Respuesta del servidor:", data);
        })
        .catch((error) => {
          console.error("Error:", error);
        })
        alert('Articulo eliminado')
        location.href="/edit-article"
    })
</script>
<%- include('partials/footer'); %>
